h1 {
    color: #c48686; 
  }
  p {
    color: rgb(243, 243, 243); 
  }

div {
    color : rgb(202, 201, 200); 
}
body {
    background-color: black;
}

  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: rgb(43, 43, 43);
    border: 1px solid #000000;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(197, 184, 184, 0.2);
    z-index: 1000;
}

.modal-header {
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #202020;
    border-bottom: 1px solid #000000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.modal-body {
    padding: 15px;
}

.modal-footer {
    text-align: right;
    padding: 10px;
    background-color: #202020;
    border-top: 1px solid #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-family: TourFout;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

button {
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #444444;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    ;
}

button img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 5px;
}

button:hover {
    background-color: #fc7100d8;
}

.image-container {
    text-align: center;
    margin-bottom: 15px;
}

.image-container img {
    width: 100%;
    border-radius: 5px;
    max-height: 200px;
    object-fit: contain;
}

.image-controls {
    display: flex;
    justify-content: space-between;
}
.sidebar {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    background-color: #131111; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}
